@charset "UTF-8";

.container {
  max-width: 950px;
}

.h1 {
  text-indent: -9999px;
  height: 300px;
  background: url("../images/title.jpg") 0 0 / contain no-repeat;
}

@media screen and (max-width: 1000px) {
  .h1 {
    height: 30vw;
  }
}

p {
  color: #666;
  letter-spacing: .1rem;
}

textarea {
  font-size: 2.4rem;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 20px;
}

th {
  width: 15%;
  font-size: 1.2rem;
  text-align: left;
  background-color: #eee;
}

td {
  font-size: 1rem;
}

td:nth-of-type(1) {
  font-weight: bold;
}

img {
  width: 100px;
}
